user.email=rout.sandeep152@gmail.com
user.username=rout-sandeep152
clor.ui=true
color.ui=true
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.url=https://github.com/rout-sandeep152/Lesson-02.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
